<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css" />
</head>

<body>
    <div class="colums is-centered">
        <form action="/AlbumInsert" method="POST">
            <div class="container">
                <strong>Sanatçı Adı :</strong>
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name=SanatciId>
                                <% data.forEach(function(item) {
                                     %>
                                <option value="<%=item.SanatciId%>"><%=item.SanatciAdi%></option>
                                <% }); %>
                            </select>

                        </div>
                    </div>
                </div>
                <strong>Albüm Adı :</strong>
                <div class="field">
                    <div class="control">
                        <input class="input is-primary" type="text" name="AlbumAdi">
                    </div>
                </div>
                <strong>Müzik Türü :</strong>
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="MuzikTurId">
                                <% data.forEach(function(item) { %>
                                <option value="<%=item.MuzikTurId%>"><%=item.MuzikTur%></option>
                                <%});%>
                            </select>

                        </div>
                    </div>
                </div>
                <strong>Çıkış Tarihi :</strong>
                <div class="field">
                    <div class="control">
                        <input class="input is-primary" type="date" name="RelaeseDate">
                    </div>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button is-success">
                            Yap
                        </button>
                    </p>
                </div>
            </div>
    </div>
    </form>
    </div>
</body>

</html>