<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href="AlbumList" class="button">Alb端m Listesi</a>
        <a href="SanatciList" class="button">Sanatci Listesi</a>
        <a href="MuzikTurList" class="button">M端zik T端r端 Listesi</a>
    </div>
</body>
</html>