<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css" />
</head>

<body>
    <div class="colums is-centered">
        <form action="/MuzikTurUpdate" method="POST">
            <div class="container">
                    <% data.forEach(function(item){ %>
                    <strong>M端zik Id :</strong>
                    <div class="field">
                        <div class="control">
                            <input class="input is-primary" type="text" name="MuzikTurId" value="<%=item.MuzikTurId%>" readonly>
                        </div>
                    </div>
                <strong>M端zik T端r端 :</strong>
                <div class="field">
                    <div class="control">
                        <input class="input is-primary" type="text" value="<%=item.MuzikTur%>" name="MuzikTur">
                    </div>
                </div>
                <% }); %>
                <div class="field">
                    <p class="control">
                        <button class="button is-success">
                            Yap
                        </button>
                    </p>
                </div>
            </div>
    </div>
    </form>
    </div>
</body>

</html>