<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css" />
</head>

<body>
    <div class="colums is-centered">
        <form action="/SanatciInsert" method="POST">
            <div class="container">
                <strong>Sanatçı Adı :</strong>
                <div class="field">
                    <div class="control">
                        <input class="input is-primary" type="text" name="SanatciAdi">
                    </div>
                </div>
                <strong>Sanatçı Doğum Yılı :</strong>
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="SanatciDY" id="">
                                <option value="-1">Bilinmiyor</option>
                                <% for(var i=1000;i<=2019;i++){%>
                                <option value="<%=i%>"><%=i%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                </div>
                <strong>Sanatçı Yaşıyor mu ? :</strong>
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="SanatciLive">
                                <option value="True">Evet Yaşıyor</option>
                                <option value="False">Hayır Yaşamıyor</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button is-success">
                            Yap
                        </button>
                    </p>
                </div>
            </div>
    </div>
    </form>
    </div>
</body>

</html>